{% extends 'adminapp/alayout.html' %}
{% block content %}


<style>   
h1 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 103px 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0;
    font-size: 18px;
}
div{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
p {
    margin: 0 0 30px;
    
}

p{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}
p {
    display: block;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 148px;
    margin-inline-end: 0px;
    line-height: 1;
}
.breadcrumb-trail.breadcrumbs .trail-title {
    float: left;
    font-weight: 400;
    font-size: 25px;
    padding: 65px 0;
}

.tg-container {
    max-width: 1250px;
    margin: 0 auto;
}
</style>

    div
</style>
<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">Appliction Form</h1>			
        <!-- <ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>News Letter</span></li></ul>		</div> -->
</nav>

<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

<article id="post-869" class="post-869 page type-page status-publish hentry">


<div class="entry-content">

    <div id="pl-869" class="panel-layout">
<div id="pg-869-0" class="panel-grid panel-no-style" data-style="{&quot;background_image_attachment&quot;:false,&quot;background_display&quot;:&quot;tile&quot;,&quot;cell_alignment&quot;:&quot;flex-start&quot;}" data-ratio="1" data-ratio-direction="right">
<div id="pgc-869-0-0" class="panel-grid-cell" data-weight="1">
<div id="panel-869-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0" data-style="{&quot;background_image_attachment&quot;:false,&quot;background_display&quot;:&quot;tile&quot;}">
<div class="textwidget">
    <h1 class="trail-title">Click to download </h1> 

<h2 class="contentheading"></h2>
{% for x in pdf %}


<p><a href="{{x.pdf.url}}" target="_blank">{{x.title}}</a></p>
<!-- <p><a href="../static/adminapp/pdf/news_letter/Insight-December-2018-final-file.pdf">December 2018</a></p> -->
{% endfor %}
</div> -->
</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>

{% endblock %}    

